[Unit]
Description=Handles battery, backlight and PocketCHIP keymap
Documentation=https://github.com/aleh/pocketchip-batt

[Service]
Type=simple
ExecStart=/usr/sbin/pocketchip-one daemon
Restart=always

[Install]
WantedBy=graphical.target

